<h2 class="text-center titre"><%= @student.name %></h2>
<p class="text-center"><%= @student.email %></p>

<div class="text-center">
  <%= link_to "Edit profile", edit_student_path, class: "button btn btn-large"%>
</div>

<%= render 'courses/listing', object: @student.courses %>
