<div class="container-fluid text-light pt-4 " id="bg-img">
    <div class="container rounded-3 " style="color:  #0B4F6C ;" id="bor">
        <div class="text-center mt-4">
            <h2 class="text-center" >Welcome to the tech university </h2>
            <div  class="btn btn-large mt-4" style="background-color:#0B4F6C ;">
                <%= link_to "Get started", courses_path, class: "text-light"%>
            </div>
        </div>
    </div>
</div>